<!-- <main class="main">
  <div class="content">
    <button style="margin-right: 5px;" (click)="incDec(true)">+</button>
    <span>Count Value: {{ count() }}</span>
    <button style="margin-left: 5px;" (click)="incDec(false)">-</button>
    <div>
      {{ doubleCount() }}
    </div>
  </div>
</main>

<div style="background: gray;">
  @defer (when show) {
  <app-todos [todoArray]="todoArray"></app-todos>
  } @placeholder {
  <div style="display: flex;height: 200px;">
    <p>Todo table will be load here</p>
  </div>
  } @loading {
  <p>Loading...</p>
  } @error {
  <p>Error</p>
  }
</div>

<hr />
<p>Demo of ngTemplateOutlet</p>

<ng-container [ngTemplateOutlet]="defaultContent"></ng-container>
<ng-template #defaultContent>
  <div>
    <h2>Some header</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quasi unde ullam nam quisquam recusandae
      incidunt
      sit, omnis explicabo inventore at suscipit modi, cum dolorum harum eligendi placeat doloremque voluptates.</p>
  </div>
</ng-template> -->

<router-outlet />